In [11]:
#1 Print variable value
name=int(input())
print(name)

10
10

1+1

In [4]:
#2 Sum of first n natural no
str=int(input("Enter no : "))
sum=str*(str+1)/2
print(sum)

Enter no : 5
15.0

In [7]:
#3 sum of two no
i=int(input("Enter no 1 : "))
j=int(input("Enter no 2 : "))
print("sum of {0} + {1} is {2}".format(i,j,i+j))

Enter no 1 : 10
Enter no 2 : 20
sum of 10 + 20 is 30

In [14]:
#4 Find max value using if else
i=int(input("Enter no 1 : "))
j=int(input("Enter no 2 : "))
def max():
    if i>j:
        return i
    else :
        return j
print("Max value : ",max());

Enter no 1 : 10
Enter no 2 : 20
Max value :  20

In [67]:
#6 No is prime or not

n=int(input("Enter no : "))
c=0
if n>1:
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
        print("No is prime")
    else :
        print("No is not prime")
else :
    print("No is not prime")

Enter no : 1
No is not prime

In [1]:
#7 Find length of String
s=input("Enter string ")
c=0
for i in s:
    c+=1
print("Size of string : ",c)

Enter string  zeel

Size of string :  4

In [2]:
#8 String concatination
Name="zeel"
Sname=" hirapara"
print(Name+Sname)

zeel hirapara

In [3]:
print("" or False)

False

In [4]:
print('A' or 'B')

A

In [5]:
print('B' or 'A')

B

In [10]:
print('K' or 1)

K

In [11]:
print(1 or 'K')

1

In [12]:
print('Guj' or True)

Guj

In [13]:
print(True or False)

True

In [14]:
print(False or True)

True

In [15]:
print(False or 2.5)

2.5

In [33]:
#Slicing operations
u="Gujrat Vidyapith"
print(u[0])
print(u[0:3])
print(u[3:])
print(u[-1])
print(u[-1:0:-1])
print(u[-14:])
print(u[12:-2])
print(u[2:-12])
print(u[0::2])
print(u[::2])
print(u[::-1])

G
Guj
rat Vidyapith
h
htipaydiV tarju
jrat Vidyapith
pi
jr
Gja iypt
Gja iypt
htipaydiV tarjuG

In [3]:
#String Methods
n="zeel hirapara"
print(n.upper())
print(n.lower())
print(n.capitalize())
print(n.count('s'))
print(n.index('i'))
print(n.replace('a','A'))

ZEEL HIRAPARA
zeel hirapara
Zeel hirapara
0
6
zeel hirApArA

In [61]:
#String Formatting
print("{:2} and {:5}".format("abc","xyz"))
print("{:>5}".format("123"))

abc and xyz
  123

In [64]:
#Operator overloading
s="Hello "
print(s*5)

Hello Hello Hello Hello Hello

In [4]:
#List operations.
l=[1,2,'zeel',2.5]
print(type(l))
print(l)
print(l[0])
l.append(20);
print(l)
for i in l:
    print(i)
l.insert(2,"zh")
print(l)
l.remove("zeel")
print(l)

<class 'list'>
[1, 2, 'zeel', 2.5]
1
[1, 2, 'zeel', 2.5, 20]
1
2
zeel
2.5
20
[1, 2, 'zh', 'zeel', 2.5, 20]
[1, 2, 'zh', 2.5, 20]

In [8]:
#fibonacci series
n=int(input("Enter term.."))
c,v1,v2=0,0,1
while c<=n:
 print(v1)
 c+=1
 summ=v1+v2
 v1=v2
 v2=summ

Enter term..10
0
1
1
2
3
5
8
13
21
34
55