In [11]:
#1 Print variable value
name=int(input())
print(name)

10
10

1+1

In [4]:
#2 Sum of first n natural no
str=int(input("Enter no : "))
sum=str*(str+1)/2
print(sum)

Enter no : 5
15.0

In [7]:
#3 sum of two no
i=int(input("Enter no 1 : "))
j=int(input("Enter no 2 : "))
print("sum of {0} + {1} is {2}".format(i,j,i+j))

Enter no 1 : 10
Enter no 2 : 20
sum of 10 + 20 is 30

In [14]:
#4 Find max value using if else
i=int(input("Enter no 1 : "))
j=int(input("Enter no 2 : "))
def max():
    if i>j:
        return i
    else :
        return j
print("Max value : ",max());

Enter no 1 : 10
Enter no 2 : 20
Max value :  20

In [17]:
#6 No is prime or not

n=int(input("Enter no : "))
c=0
if n>1:
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
        print("No is prime")
    else :
        print("No is not prime")
else :
    print("No is not prime")

Enter no : 0
No is not prime

In [5]:
#7 Find length of String
s=input("Enter string ")
c=0
for i in s:
    c+=1
print("Size of string : ",c)

Enter string  zeel

Size of string :  4

In [2]:
#8 String concatination
Name="zeel"
Sname=" hirapara"
print(Name+Sname)

zeel hirapara